.red{
    background: url("./student.jpg");
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .red div{
    width: 100%;
    height: 100%;
} */
h1{
    color: red;
    text-align: center;
}
h2{
    color: red;
}

h3{
    color: #fff;
}
.red div img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.blue{
    margin-bottom: 400px;
    position: absolute;
    left: 90px;
    font-size: 60px;
}
.yellow{
    margin-bottom: 70px;
    position: absolute;
    left: 90px;
}
.green{
    margin-bottom: 0;
    margin-top: 200px;
    position:absolute;
    left: 90px;
    
}
.pink{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
div h6{
    background: url("./lady.jpg");
    width: 300px;
    height: 300px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    
}
.flex-shrink-0 {
    flex-shrink: 0!important;
    padding-left: 40px;
}
.big{
    position: absolute;
    background-position: bottom;
    top: 1826px;
    margin-left: 242px;
}
.small{
    color: red;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}
.ten{
    background-color: blue;
    padding: 30px;
    justify-content: space-between;
}
.one{
    background-color: blue;
    padding: 30px;
    justify-content: space-between;
}
.large{
    color: red;
    font-size: 30px;
    text-align: center;
}
.two{
    background-color: blue;
    padding: 30px;
    justify-content: space-between;
}
.card{
   width: 185px;
   padding: 28px;
}
.fix{
    display: flex;
    justify-content: space-between;
    padding: 126px;
    width: 100px;
}
.container-1{
    margin-right: 92px;
    margin-left: -120px;
}
.container-3{
    margin-left: -10px;
}
.container-2{
    margin-left: 38px;
}
#blue{
   border-radius: 50%;
   width: 60px;
   position: absolute;
   bottom: -42px;
   right: 10px;
}
.icon{
    color: red;
    font-size: 30px;
    /* text-align: center; */
    position: absolute;
    right: 150px;
    bottom: 582px;
}
.grid{
    position: absolute;
    bottom: -1480px;
    margin-left: -448;
}
.flexbox{
    position: absolute;
    right: -82px;
    top: 152px;
}
.flex{
    position: absolute;
    right: 48px;
    top: 299px;
}
#vee a{
  text-decoration: none;
}
